{% load static %}
<!--  -->
<!-- {% load cart_tag %} -->

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar" style="background-color: black;">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Liquor <span>Store</span></a> {% if user.is_authenticated %}
        <div class="order-lg-last btn-group">
            <a href="#" class="btn-cart dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="flaticon-shopping-bag"></span>
                <div class="d-flex justify-content-center align-items-center"><small>{{request.session.cart|length}}</small></div>
            </a>

            <div class="dropdown-menu dropdown-menu-right">
                {% if request.session.cart|length %}
                <!--  -->
                {% for key,value in request.session.cart.items %}
                <div class="dropdown-item d-flex align-items-start" href="{% url 'product' key %}">
                    <div class="img" style="background-image: url({{value.image}});"></div>
                    <div class="text pl-3">
                        <h4><a href="{% url 'product' key %}">{{value.name}}</a></h4>
                        <p class="mb-0"><a href="#" class="price">${{value.price}}</a><span class="quantity ml-3">Quantity: {{value.quantity}}</span></p>
                    </div>
                </div>

                {% endfor %}


                <a class="dropdown-item text-center btn-link d-block w-100" href="{% url 'detail' %}">
                    View All
                    <span class="ion-ios-arrow-round-forward"></span>
                </a>
                <span class="ion-ios-arrow-round-forward"></span>
                </a>
                <!--  -->
                {% else %}
                <a class="dropdown-item text-center btn-link d-block w-100" href="{% url 'products' %}">
                    Start Shopping
                    <span class="ion-ios-arrow-round-forward"></span>
                </a> {% endif %}

                <!--  -->


            </div>



        </div>

        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="{% url 'products' %}">Products</a>
                        <a class="dropdown-item" href="product-single.html">Single Product</a>
                        <a class="dropdown-item" href="cart.html">Cart</a>
                        <a class="dropdown-item" href="checkout.html">Checkout</a>
                    </div>
                </li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>